<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzu.demo.web.mapper.GameMapper">

    <resultMap id="gameMap" type="com.fzu.demo.web.entity.GameEntity"></resultMap>

    <select id="getAllGames" resultMap="gameMap">
        SELECT *
        FROM gp_game
    </select>

    <select id="getGames" resultMap="gameMap">
        SELECT *
        FROM gp_game LIMIT #{offset},#{limit}
    </select>

    <select id="getGameById" resultMap="gameMap">
        SELECT *
        FROM gp_game
        WHERE id=#{ID}
    </select>

    <select id="hasPurchasedGame" resultType="Integer">
        SELECT count(*)
        FROM gp_purchase
        WHERE
        userID = #{userID} AND gameID = #{gameID}
    </select>

    <insert id="buyGame" parameterType="com.fzu.demo.web.entity.GameEntity">
        INSERT INTO
        gp_purchase
        (userID,gameID,date)
        VALUES
        (#{userID},#{gameID}, #{date})
    </insert>

    <delete id="unBuyGame" parameterType="com.fzu.demo.web.entity.GameEntity">
        DELETE FROM
        gp_purchase
        WHERE
        userID = #{userID} AND gameID = #{gameID}
    </delete>

    <select id="hasStaredGame" resultType="Integer">
        SELECT count(*)
        FROM gp_user_collect
        WHERE
        userID = #{userID} AND gameID = #{gameID}
    </select>

    <insert id="starGame" parameterType="com.fzu.demo.web.entity.GameEntity">
        INSERT INTO
        gp_user_collect
        (userID,gameID)
        VALUES
        (#{userID},#{gameID})
    </insert>

    <delete id="unStarGame" parameterType="com.fzu.demo.web.entity.GameEntity">
        DELETE FROM
        gp_user_collect
        WHERE
        userID = #{userID} AND gameID = #{gameID}
    </delete>

    <select id="getPurchasedGameNumber" resultType="Integer">
        SELECT count(*)
        FROM gp_purchase
        WHERE
        userID = #{userID}
    </select>

    <select id="getStaredGameNumber" resultType="Integer">
        SELECT count(*)
        FROM gp_user_collect
        WHERE
        userID = #{userID}
    </select>

    <select id="getMyGames" resultMap="gameMap">
        SELECT g.*
        FROM gp_game g,gp_purchase p,gp_user u
        WHERE
        g.id=p.gameID AND p.userID=u.id AND u.id=#{userID}
        LIMIT #{offset},#{limit}
    </select>

    <select id="getStaredGames" resultMap="gameMap">
        SELECT g.*
        FROM gp_game g,gp_user_collect p,gp_user u
        WHERE
        g.id=p.gameID AND p.userID=u.id AND u.id=#{userID}
        LIMIT #{offset},#{limit}
    </select>

    <update id="updateGameInformation" parameterType="com.fzu.demo.web.entity.GameEntity">
        UPDATE
        gp_game
        SET
        name = #{name} ,description = #{description} , price = #{price} , image = #{image}
        WHERE
        id = #{id};
    </update>

    <delete id="deleteGame" parameterType="com.fzu.demo.web.entity.GameEntity">
        DELETE FROM gp_game WHERE id = #{gameID};
        DELETE FROM gp_commend WHERE gameID = #{gameID};
        DELETE FROM gp_game_tag WHERE gameID = #{gameID};
        DELETE FROM gp_purchase WHERE gameID = #{gameID};
        DELETE FROM gp_user_collect WHERE gameID = #{gameID};
    </delete>

    <insert id="addGame" useGeneratedKeys="true" keyProperty="id" parameterType="com.fzu.demo.web.entity.GameEntity">
        INSERT INTO
        gp_game(name,description,price,image)
        VALUES
        (#{name} , #{description} , #{price} , #{image})
    </insert>

    <delete id="deleteUserRecommendGames" parameterType="Map">
        DELETE FROM
        gp_commend
        WHERE
        userID = #{userID}
    </delete>

    <insert id="insertRecommendGames" parameterType="Map">
        INSERT INTO gp_commend(userID,gameID,recommendIndex) values
        <foreach collection="games" item="item" index="index" separator=",">
            (#{userID} , #{item.id} , #{item.recommendIndex})
        </foreach>
    </insert>

    <select id="getRecommendList" resultMap="gameMap">
         select g.*,c.recommendIndex
         from gp_game g,gp_commend c,gp_user u
         where g.id = c.gameID and c.userID = u.id and u.id = #{userID}
         order by c.recommendIndex desc
    </select>

    <select id="getSearchResult" resultMap="gameMap">
        SELECT * FROM gp_game
        WHERE
        name like CONCAT('%',#{keyword},'%')
    </select>

    <select id="getMyRecentGames" resultMap="gameMap">
        SELECT g.*
        FROM gp_game g,gp_purchase p,gp_user u
        WHERE
        g.id=p.gameID AND p.userID=u.id AND u.id=#{userID}
        AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt; date(p.date)
        ORDER BY p.date desc
        LIMIT 0,#{limit}
    </select>

    <select id="getRecentGames" resultMap="gameMap">
        SELECT g.*,p.date
        FROM gp_game g,gp_purchase p,gp_user u
        WHERE
        g.id=p.gameID AND p.userID=u.id AND u.id=#{userID}
        AND
        p.date BETWEEN #{startTime} and #{endTime};
    </select>

    <select id="getRandomGames" resultMap="gameMap">
        select *
        from gp_game
        order by rand() LIMIT 0,5;
    </select>

    <select id="getGameSale" resultType="Map">
        select g.name,count(*) as sale
        from  gp_game g ,gp_purchase p ,gp_user u
        where g.id = p.gameID and u.id = p.userID
        group by g.id
        ORDER BY sale desc
        LIMIT 0,10
    </select>

</mapper>