<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzu.demo.web.mapper.TagMapper">

    <resultMap id="tagMap" type="com.fzu.demo.web.entity.TagEntity"></resultMap>

    <select id="getAllTags" resultMap="tagMap">
        SELECT *
        FROM gp_tag
    </select>

    <select id="getUserTags" resultMap="tagMap">
        SELECT *
        FROM gp_user_tag ut, gp_user u,gp_tag t
        WHERE
        ut.userID = u.id AND ut.tagID = t.id AND
        u.id = #{userID}
    </select>

    <select id="getGameTags" resultMap="tagMap">
        SELECT *
        FROM gp_tag t,gp_game_tag gt, gp_game g
        WHERE
        gt.gameID = g.id AND gt.tagID = t.id AND
        g.id = #{gameID}
    </select>

    <select id="getTagByName" resultMap="tagMap">
        SELECT *
        FROM gp_tag
        WHERE name like #{name}
    </select>

    <delete id="deleteAllUserTags" parameterType="Map">
        DELETE FROM
        gp_user_tag
        WHERE
        userID = #{userID}
    </delete>

    <insert id="insertTags" parameterType="Map">
        INSERT INTO gp_user_tag(userID,tagID) values
        <foreach collection="tags" item="item" index="index" separator=",">
            (#{userID} , #{item.id})
        </foreach>
    </insert>

    <delete id="deleteAllGameTags" parameterType="Map">
        DELETE FROM
        gp_game_tag
        WHERE
        gameID = #{gameID}
    </delete>

    <insert id="insertGameTags" parameterType="Map">
        INSERT INTO gp_game_tag(gameID,tagID) values
        <foreach collection="tags" item="item" index="index" separator=",">
            (#{gameID} , #{item.id})
        </foreach>
    </insert>

    <delete id="deleteTag" parameterType="Map">
        DELETE FROM
        gp_tag
        WHERE
        id = #{tagID}
    </delete>

    <insert id="insertTag" parameterType="Map">
        INSERT INTO
        gp_tag(name)
         VALUES
        (#{tagName})
    </insert>

    <select id="getPopularTags" resultType="Map">
        select t.name,count(*) as sale
        from  gp_game g ,gp_purchase p ,gp_user u,gp_tag t,gp_game_tag gt
        where g.id = p.gameID and u.id = p.userID and t.id = gt.tagID and gt.gameID = g.id
        group by t.id
        ORDER BY sale desc
        LIMIT 0,5
    </select>

</mapper>